<html xmlns:th="//www.thymeleaf.org"
      th:replace="
      page(main=~{::main},
      noindex=true,
      description='Eine Liste aktueller Geschichten von Stephan Grundner')">
<th:block th:fragment="main">


<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<h1>Willkommen</h1>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row" >
        <div class="card-columns">
            <div class="card"
                 th:each="story : ${stories}">

                <th:block th:if="${story[photo] != null}">
                    <a th:href="${story.url}">
                        <img class="card-img-top" th:src="${story[photo][small][url]}"
                             alt="Card image cap">
                    </a>
                </th:block>
                <div class="card-body">
                    <a th:href="${story.url}">
                        <h4 class="card-title" th:text="${story.title.value}">Card title that wraps to a new line</h4>

                    </a>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <small class="text-muted" th:text="${#dates.format(story.$item.createdAt, 'dd MMMM yyyy')}">Date</small>
                </div>
            </div>
        </div>

        <!--<div class="col-md-8 offset-md-2">-->
            <!--<h2 class="text-uppercase" th:text="${story.title[0].value}">Story title</h2>-->
            <!--<small class="text-muted" th:text="${#dates.format(story.date, 'dd MMMM yyyy')}">Date</small>-->
            <!--<p>-->
                <!--<a th:href="${story.url}">Go to</a>-->
            <!--</p>-->
        <!--</div>-->
















    </div>
</div>




</th:block>
</html>