<html xmlns:th="//www.thymeleaf.org"
      th:replace="
      page(main=~{::main},
      noindex=true)">

<th:block th:fragment="field(bindingPath,label,help,required,type)">
    <div class="form-group">
        <label th:text="${label}">Label</label>
        <span th:if="${required == true}" class="text-secondary">*</span>
        <input type="text" class="form-control"
               th:if="${type == 'text'}"
               th:field="*{__${bindingPath}__}"
               th:classappend="${#fields.hasErrors('__${bindingPath}__')} ? is-invalid : _">
        <textarea class="form-control"
                  th:if="${type == 'longtext'}"
                  th:field="*{__${bindingPath}__}"
                  th:classappend="${#fields.hasErrors('__${bindingPath}__')} ? is-invalid : _"></textarea>
        <small th:if="${#fields.hasErrors('__${bindingPath}__')}" class="form-text text-muted"
               th:errors="*{__${bindingPath}__}">Help text</small>
    </div>
</th:block>

<th:block th:fragment="main">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Kontakt</h2>

            <div th:if="${success}" class="alert alert-success text-center" role="alert">
                <span>Vielen Dak für Ihre Nachricht!</span>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <form th:object="${message}">
        <div class="row">
            <div class="col-md-12">
                <th:block th:replace="::field('name', 'Name', 'Bla bla bla', true, text)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <th:block th:replace="::field('email', 'E-Mail-Addresse', 'Bla bla bla', true, text)" />
            </div>
            <div class="col-md-6">
                <th:block th:replace="::field('phone', 'Telefonnummer', 'Bla bla bla', false, text)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <th:block th:replace="::field('important', 'Sehr wichtige Sache', 'Bla bla bla', true, text)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <th:block th:replace="::field('text', 'Nachricht', 'Bla bla bla', true, longtext)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button th:formaction="@{send}" formmethod="post"
                        class="btn btn-primary">
                    <i class="fa fa-send"></i>
                    Nachricht verschicken
                </button>
            </div>
        </div>
    </form>
</div>


</th:block>
</html>