<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div th:if="${!chapter.inverted.value}" class="story-chapter text-only-chapter container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-3" data-animate="bounceInUp">
                <span class="text-primary text-uppercase" th:text="${chapter.title?.value}">Title</span>
            </h1>
            <h2 class="subtitle text-primary" th:text="${chapter.subtitle?.value}">Subtitle</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <p th:utext="${chapter.text?.value}">Text</p>
        </div>
    </div>
</div>
<div th:if="${chapter.inverted.value}" class="story-chapter story-chapter-inverted text-only-chapter container-fluid bg-primary ">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-3" data-animate="bounceInUp">
                <span class="text-uppercase" th:text="${chapter.title?.value}">Title</span>
            </h1>
            <h2 class="subtitle" th:text="${chapter.subtitle?.value}">Subtitle</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <p th:utext="${chapter.text?.value}">Text</p>
        </div>
    </div>
</div>
</html>